@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%; /* أسود */
  --foreground: 0 0% 100%; /* أبيض */
  --primary: 45 100% 50%; /* ذهبي */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  /* هاد السطر كايخلي الخط يبان حسن ف التيليفون */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ستايل خاص للـ Scrollbar باش يبان ذهبي وخفيف */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ca8a04; /* لون ذهبي غامق */
  border-radius: 10px;
}

::selection {
  background-color: #facc15;
  color: #000;
}
